<h2>Welcome to code challenge</h2>

<p>A json file is provided /src/assets/data/people.json</p>

<p>You need to write some code to consume this json file and output a list of all the <strong><u>cats</u></strong> in alphabetical order under a <strong><u>heading of the gender of their owner</u></strong>.</p>

<p>Create new route <strong>/cats</strong> and produce your output on new route</p>

<h3>Example Output</h3>

<div>
	<h4>Male Pet Owner</h4>
	<ul>
		<li>Angel</li>
		<li>Molly</li>
		<li>Tigger</li>
	</ul>

	<h4>Female Pet Owner</h4>
	<ul>
		<li>Gizmo</li>
		<li>Jasper</li>
	</ul>
</div>

<h3>Note:</h3>
<p>Demonstrate how to <strong>consume json file</strong>using <strong>service</strong></p>
<p>Demonstrate <strong>creating component</strong></p>
<p>Demonstrate how to <strong>filter data using pipe</strong></p>
<p>Demonstrate simple <strong>styling using bootstrap</strong></p>
<p>Bonus: If you provide example of simple unit test for one part of the application</p>
